<%-include('template/cabecera',{tituloweb: 'CLIENTES'}) %>

<div id="contenedor">
    <%- include('template/navbar') %>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>CLIENTE</th>
                <th>REPRESENTANTE</th>
                <th>DIRECCION</th>
                <th>TELEFONO</th>
                <th>CORREO</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% results.forEach((clientes) => { %>
                <tr>
                 <td><%- clientes.idclientes %></td>
                 <td><%- clientes.nombrecliente %></td>
                 <td><%- clientes.representantecliente %></td>
                 <td><%- clientes.direccioncliente %></td>
                 <td><%- clientes.telcliente %></td>
                 <td><%- clientes.email %></td>
                 <td>
                    <button>EDITAR</button>
                    <button>ELIMINAR</button>
                </td>
            <% }) %>
        </tbody>
        
    </table>
</div>
    
<%- include('template/piecera') %> 
    